<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	
	<div class="container">		
		<h1 th:text="${titulo}"></h1>		
	</div>

	<div class="container">
	
	<a class="btn btn-primary btn-sm" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/views/clientes/create}"
			th:text="'Nuevo Cliente'" title="Crear Nuevo Registro">
		</a>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NOMBRES</th>
					<th scope="col">APELLIDOS</th>
					<th scope="col">TELEFONO</th>
					<th scope="col">DIRECCION</th>
					<th scope="col">DNI</th>
					<th scope="col">CONTRASEÑA</th>
					<th scope="col" sec:authorize="hasRole('ROLE_USER')">Editar</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pe:${personas}">
					<td th:text="${pe.id_persona}"></td>
					<td th:text="${pe.nombre}"></td>
					<td th:text="${pe.apellido}"></td>
					<td th:text="${pe.telefono}"></td>
					<td th:text="${pe.direccion}"></td>
					<td th:text="${pe.dni}"></td>
					<td th:text="${pe.contrasena}"></td>
					<td>
						<a th:href="@{/editarpersona/}+${pe.id_persona}" class="btn btn-warning">Editar</a>
					</td>
					<td>
						<a th:href="@{/eliminarpersona/}+${pe.id_persona}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>